@{
    ViewData["Title"] = "Inicio";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!-- Cabecera -->
<div class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">MVC Web de música</h1>
        @* <h3 class="mb-5"><em>Conciertos, información y noticias sobre música</em></h3> *@
    </div>
</div>