@model System.Collections.Generic.IEnumerable<MvcWebMusica2.Models.FuncionesArtistas>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuncionesId)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistasId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionesId)
            </td>
        </tr>
    }
    </tbody>
</table>